#title
{
    background-color: #ff4c68;
}
.tt{font-family:"Montserrat-Black"; font-size: 5rem; line-height:1.5; font-weight:bold !important;color:white;}
.container{padding:3% 15% 7%;}
.body{font-family:"Montserrat";
      }

.navbar-brand{font-size: 2.0rem !important;
  margin:0px 0px !important;
  font-family:"Ubuntu";
  font-weight:900;
}
.img{width: 60%;
transform:rotate(25deg);
position: absolute;
right:30%;
}

.nav-link{font-size:1rem !important;}

.row{padding-top: 4.5rem;}
.nav-item {padding:0px 18px ;}
.download-button{margin:5% 3% 5% 0%}
.jala{text-align: center;}
#features{padding:7% 15%;
          background-color:white;
          position:relative;
          z-index:1;}

.fr{padding:5%;}
h3{font-family:"Montserrat";
   font-weight:bold;}
p{color:#8f8f8f}
.icon123{color:#ff4c68;
         margin:1rem;}
.icon123:hover{color:#ef8172;}
#testimonials{padding:7% 15%;
              text-align:center;
              background-color:#ef8172;
              color:#fff;}
h2{font-family:"Montserrat" ; font-weight:bold !important; font-size: 2.9rem !important; line-height:1.5 !important; font-weight:900; padding:2%;}

.qwe{width:10%;
    margin-left:12%;
    border-radius:100%;
   }
   #cta{background-color:#ff4c68;
        padding:7% 15%;
        font-family:"Montserrat";
        text-align: center;
    }
.jd{padding-top:3%;}
.oop{
    font-weight:bold;
    color:white;
    font-size:4rem;
    }

.lkr{padding-left:1%;}

#press{background-color:#ef8172;
       text-align:center;}

.oppo{padding-bottom:3%;
      width:10%;
     margin:30px 30px;}
.grid_price{text-align: center;
           width:100%}
#pricing{padding:10% 30%;}
.cd{padding:0%,5 !important%;}
#jd{text-align:center;}

@media (max-width:992px) {
  .img{position:static;
       transform:rotate(0deg);}
}
